@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  font-family: "Outfit", sans-serif;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-phantom;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 78, 78);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Sk-Modernist Mono";
  src: url("../public/fonts/Sk-Modernist-Mono.woff2") format("woff2"),
    url("../public/fonts/Sk-Modernist-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
